body {
	background-color: #fafafa;
}
/* .cont {
	width: 100%;
} */
.float {
    width: 50%;
    /* background-color: red; */
    float: left;
    /* text-align: center; */
}

.float .imgphone .imgphone2 {
	float: right;
    -webkit-align-self: center;
    align-self: center;
    background-position: 0 0;
    background-size: 454px 618px;
    -webkit-flex-basis: 454px;
    -ms-flex-preferred-size: 454px;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
}

.captinglofing {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
        margin-top: 0px;
    padding: 43px;
    /* float: right; */
    width: 280px;
    margin-top: 6%;
    height: 329px;
}


.username, .password, .button {
    display: block;
    width: 93%;
    height: 36px;
    margin-bottom: 9px;
    margin-left: 0px;
    border: none;
    border-radius: 3px;
    background: transparent;
    color: #000000;
    border: 1px solid #efefef;
}
.username::placeholder,.password::placeholder{
	font-size: 15px;
	opacity: 1;
	margin-left: 4px;
}
.button {
background: #3897f0;
border-color: #3897f0;
color: #fff;
height: 33px;
font-size: 17px;
cursor: pointer;
}


.instagram {
background: url('../img/allpng.png') no-repeat;
display: block;
overflow: hidden;
text-indent: 110%;
white-space: nowrap;
margin: 22px auto 8px;
background-position: 0 0;
height: 51px;
width: 175px;
}


/* ******** */
.line{
	text-align: center;
	color: #999;
-webkit-box-flex: 0;
-webkit-flex-grow: 0;
-ms-flex-positive: 0;
flex-grow: 0;
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
font-size: 13px;
font-weight: 600;
line-height: 15px;
margin: 0 8px;
position: absolute;
height: 100px;
margin-top: 15px;
}
.cler{
	clear: both;
}


.line::before,.line::after {
    content: '';
    position: relative;
    top: 7px;
    left: -7px;
    right: 7px;
    bottom: 0px;
    width: 115px;
    height: 1px;
    background-color: #b7b7b7;
    display: block;
    border-radius: 3px;
    float: left;
}
.line::after {
left: 4px;
float: right
}


.facebook {


}

.facebook .logo {

background-image: url(../img/allpng.png);
background-repeat: no-repeat;
background-position: -401px -351px;
height: 18px;
width: 16px;
display: inline-block;
margin-right: 148px;
position: relative;
top: 21px;



}



.btn ,.btn2{
top: 58px;
position: relative;
left: 62px;
background: none;
border: none;
color: #003569;
font-weight: 400;
margin-top: -19px;
cursor: pointer;
}

.btn2{
 left: 92px;
top: 65px;

}


.copy {
width: 367px;
height: 70px;
padding-top: 3px;
line-height: 4;
background-color: #fff;
border: 1px solid #e6e6e6;
border-radius: 1px;
color: #262626;
font-size: 14px;
text-align: center;

}

.copy >span{
    color: #3897f0;
    cursor: pointer
}
.clearfix{
    clear: both;
}

.google-apple{
margin-right: 8px;
}
.google-apple>img {
height: 40px;

}



/* .hu {
    position: absolute
}
 */
/* D */



.imgphone{
    position: absolute;
    float: right;
    /* text-align: center; */
    width: 50%;

}
/* D */

.hererput{
    position: relative;
    top: 97px;
    left: -38px;
    /* right: -58px; */
    bottom: 0;
    float: right;
    height: 433px;
    width: 245px;

}



/* query */




@media (max-width: 400px) {
   

.float {
    margin-left: 0%;
    width: 0%;
}

}

@media (min-width: 401px) {
   

.float {
    margin-left: 11%;
    /* width: 0%; */
}

}



@media (min-width: 600px) {
   

.float {
    margin-left: 16%;
    /* width: 0%; */
}

}






@media (min-width: 600px) {
   

.float {
    margin-left: 20%;
    /* width: 0%; */
}

}



@media (min-width: 800px) {
   
.float {
    width: 50%;
    margin-left: 0px;
    float: left;
    
}

}














@media (max-width: 800px){
.imgphone ,.hererput {
    display: none;
}

}






/* query */



.add2{
    border: 2px solid red;
}




/* spiner */

.spiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #222;
    z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}