@font-face {
  font-family: "zendeskauthentypo";
  src: url("/fonts/entypo/entypo.eot");
  src: url("/fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("/fonts/entypo/entypo.woff") format("woff"), url("/fonts/entypo/entypo.ttf") format("truetype"), url("/fonts/entypo/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  background-image: url(./bg.jpg);
  background-position: center;
  text-align: center; 
  background-repeat: no-repeat;
  background-size: cover;}
  }
  
  
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #49545C; }
  

a {
  color: #1f73b7;
  text-decoration: none; }

p {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
.service {
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  height: 42px;
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"] {
  border-color: #CCC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #49545C;
  margin-bottom: 10px;
  padding: 12px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #999;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15); }

input[type="submit"] {
  background: #1f73b7;
  color: #FFF;
  font-weight: bold; }

.cancel-link {
  color: #49545C;
  position: absolute;
  right: 15px;
  top: 15px; }

.cancel-link:hover {
  color: #2F3941; }

html.turbolinks-progress-bar::before {
  background-color: #c2c2c2 !important;
  height: 5px !important; }

.title {
  color: #333333;
  font-size: 16px;
  margin: -5px 0 25px;
  text-align: center; }

.clear {
  clear: both; }

.center_link {
  text-align: center; }
  .center_link a {
    color: #68737D;
    display: inline-block; }

.sign_in_link {
  text-align: right; }
  [dir="rtl"] .sign_in_link {
    text-align: left; }
  .sign_in_link a {
    color: #68737D;
    display: inline-block;
    margin: 10px 0 15px; }


    
.interface.inner {
  text-align: center; }

@media (min-width: 880px) {
  .services {
    display: inline-block;
    vertical-align: top;
    width: 300px; } }
.old-ie .services {
  display: inline-block;
  vertical-align: top;
  width: 300px; }
.services form {
  width: 100%; }

.credentials {
  text-align: left; }
  .credentials input + input {
    margin-top: 20px; }

.separator {
  background: #ccc;
  height: 1px;
  margin: 35px 0;
  font-size: 0;
  line-height: 0; }
  @media (min-width: 880px) {
    .separator {
      display: inline-block;
      vertical-align: top;
      margin: 0 35px;
      width: 1px;
      height: 206px; } }
  .old-ie .separator {
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;
    width: 1px;
    height: 206px; }



.assistance {
  text-align: center; }

.separator ~ .assistance {
  float: right;
  text-align: center;
  width: 100%; }
  [dir="rtl"] .separator ~ .assistance {
    float: left; }
  @media (min-width: 880px) {
    .separator ~ .assistance {
      width: 280px; } }
  .old-ie .separator ~ .assistance {
    width: 280px; }

.roles {
  padding-top: 20px; }


.logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 408px;
  height: 180px;
  align-items: center;
  }




.footnotes .question {
  margin-bottom: 5px; }
  .footnotes .question + .question {
    margin-top: 10px; }
    .footnotes .question + .question + p {
      color: #68737D;
      font-size: 12px;
      max-width: 410px; }
      .footnotes .question + .question + p br {
        display: none; }

form p {
  margin-bottom: 20px;
  text-align: center; }

form label {
  color: #000;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px; }

form .controls {
  text-align: right; }
  [dir="rtl"] form .controls {
    text-align: left; }
  form .controls a {
    color: #68737D;
    display: inline-block;
    margin: 10px 0 15px; }

.trust-device {
  margin-bottom: 10px; }

